################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Examen_Grupo2/.vs/Examen_Grupo2/FileContentIndex
